$dark-blue: #0B1A32;
$blue: #195BDB;
$orange: #FFA417;
$yellow: #FFC948;
$white: #FFFFFF;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    // cursor: none;
}

body {
    background: linear-gradient(180deg, $dark-blue 23.51%, $blue 100%);
    color: $white;
    height: 4230px;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 4;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;


    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 2rem 22rem;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 31px;
        z-index: 1;

        li {
            padding: 1.8rem 1.3rem;
            .active-link {
                font-weight: 700;
            }

            a {
                color: $white;
                text-decoration: none;

                &:visited{
                    color: $white;
                }

                &:focus{
                    color: $white;
                }
            }
        }

        img {
            border-radius: 50px;
            object-fit: cover;
        }
    }
}

.cursor{
    background-color: transparent;
    border:3px solid $yellow;    
    height:30px;
    width:30px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: fixed;
    z-index: 5;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-left{
        width: 800px;
        margin: 1rem 4rem;
        z-index: 1;
        
        ul {
            display: flex;
            list-style: none;
        }

        h1 {
            font-size: 72px;
            line-height: 108px;
        }
    
        p {
            font-weight: 500;
            font-size: 28px;
            line-height: 42px;
            width: 700px;
        }

        button{
            width: 190px;
            height: 55px;
            margin-top: 3rem;
            background: $blue;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.29);
            border-radius: 51.5px;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    }

    .hero-right{
        z-index: 1;
        margin: 0 4rem;
    }

}

.scroll-indicator{
    display: flex;
    align-items: center;
    justify-content: center;

    .mouse {
        width: 40px;
        height: 80px;
        border: 5px solid $orange;
        border-radius: 60px;
        position: relative;
        z-index: 3;
        &::before {
            content: '';
            width: 12px;
            height: 12px;
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: $orange;
            border-radius: 50%;
            opacity: 1;
            animation: wheel 2s infinite;
            -webkit-animation: wheel 2s infinite;
        }
    }

    @keyframes wheel {
        to {
            opacity: 0;
            top: 60px;
        }
    }
    
    @-webkit-keyframes wheel {
        to {
            opacity: 0;
            top: 60px;
        }
    }
}

.bg{
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

img.layer{
    top: 0;
    left: 0;
}

img.layer2{
    bottom: 35rem;
    right: 10rem;
}

img.layer3{
    left: 10rem;
}


img.layer4{
    top: 5rem;
    left: 25rem;
}

img.layer5{
    top: 10rem;
    left: 55rem;
}

img.layer6{
    bottom: 10rem;
    left: 45rem;
}

#portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;
    z-index: 5;


    .portfolio-title{
        margin-top: 5rem;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
    }

    .portfolio-underline{
        margin-top: -1rem;
    }

    .portfolio-description{
        margin: 2rem;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
    }

    .portfolio-gallery{

        .toggle{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 70vw;
        }

        .carousel-container{
            width: 71.8vw;
            margin: 2em auto;
            // border: 1px solid red;

            .carousel-image-container{
                position: relative;
                width: 500px;
                margin-right: 0;
                // border: 2px solid blue;

                .carousel-image{
                    border-radius: 20px;
                    height: 300px;
                    width: 500px;
                    // transform: translateY(15px);
                    // filter: brightness(50%);
                    box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
                    
                    // &:hover{
                    //     filter: brightness(50%);
                    // }
                }

                .swiper-slide-active img:hover{
                    filter: brightness(50%);
                    // width: 550px;
                    // height: 350px;
                }

                .project-info{
                    position: absolute;
                    bottom: 1.5rem;
                    right: 1.5em;
                    top: 1.5em;

                    .project-title{

                    }

                    .project-details{
                        background: #12429D;
                        border-radius: 16.5px;
                        width: 116px;
                        height: 33px;
                        font-size: 15px;
                        line-height: 18px;
                        color: $white;
                        border: none;
                        // margin-top: 2rem;
                    }
                    
                }

                .project-links{
                    position: absolute;
                    bottom: 1.5rem;
                    right: 1.5em;

                    .project-link{
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }

        // .carousel {
        //     align-items: center;
        //     display: flex;
        //     margin: 2rem auto;
        //     position: relative;
        //     width: 550px;
        //     justify-content: center;
            
        //     &__images {
        //         align-items: center;
        //         display: flex;
        //         transform: translateX(0);
        //         transition: transform 0.25s;
        //         position: relative;

        //         .carousel__imageContainer{
        //             position: relative;
        //             border: 1px solid red;

        //             .project-info{
        //                 position: absolute;
        //                 display: none;
        //                 z-index: 3;
        //                 right: -80px;
        //                 top: 40px;
        //                 pointer-events: none;
        //                 // margin-left: 40rem;
    
        //                 .project-title{
        //                     font-weight: 700;
        //                     font-size: 24px;
        //                     color: $white;
        //                     line-height: 29px;
        //                     // text-align: right;
        //                 }
    
        //                 .project-tech{
        //                     font-weight: 700;
        //                     font-size: 16px;
        //                     line-height: 20px;
        //                     color: $orange;
        //                     margin-top: 1rem;
    
        //                     .pt-span{
        //                         color: $white;
        //                         font-weight: normal;
        //                     }
        //                 }
    
        //                 button {
        //                     background: #12429D;
        //                     border-radius: 16.5px;
        //                     width: 116px;
        //                     height: 33px;
        //                     font-size: 15px;
        //                     line-height: 18px;
        //                     color: $white;
        //                     border: none;
        //                     margin-top: 2rem;
        //                 }
    
        //                 .project-links{
        //                     margin-top: 8rem;
        //                     .project-link{
        //                         width: 22px;
        //                         height: 22px;
        //                     }
        //                 }
        //             }
        //         }
              
        //         .carousel__image {
        //             border-radius: 20px;
        //             height: 288px;
        //             width: 588px;
        //             margin: 0 -125px;
        //             transform: translateY(15px);
        //             filter: brightness(50%);
        //             box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
        //             z-index: 0;
                    
        //         }

        //         .active{
        //             box-shadow: 4px 4px 7px 4px rgba(0, 0, 0, 0.3);
        //             height: 367px;
        //             width: 750px;
        //             z-index: 5;
        //             transform: translateY(0);
        //             filter: brightness(100%);

        //             &:hover{
        //                 filter: brightness(50%);
        //             }
        //         }
        //     }
            
        //     &__button {
        //         background: $yellow;
        //         border: 0;
        //         border-radius: 50%;
        //         color: white;
        //         cursor: pointer;
        //         font-size: 1.5rem;
        //         font-weight: bold;
        //         height: 3rem;
        //         opacity: 0.5;
        //         position: absolute;
        //         transition: opacity 0.25s;
        //         width: 3rem;
        //         z-index: 1;
                
        //         &.previous {
        //             left: -150px;
        //         }
                
        //         &.next {
        //             right: -150px;
        //         }
                
        //         &:hover {
        //             opacity: 1;
        //         }
        //     }
        // }
    }
}