* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23.51%, #0B1A32), to(#195BDB));
  background: linear-gradient(180deg, #0B1A32 23.51%, #195BDB 100%);
  color: #FFFFFF;
  height: 4230px;
  overflow-x: hidden;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 4;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 2rem 22rem;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  z-index: 1;
}

nav ul li {
  padding: 1.8rem 1.3rem;
}

nav ul li .active-link {
  font-weight: 700;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:visited {
  color: #FFFFFF;
}

nav ul li a:focus {
  color: #FFFFFF;
}

nav ul img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cursor {
  background-color: transparent;
  border: 3px solid #FFC948;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  position: fixed;
  z-index: 5;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-container .hero-left {
  width: 800px;
  margin: 1rem 4rem;
  z-index: 1;
}

.hero-container .hero-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.hero-container .hero-left h1 {
  font-size: 72px;
  line-height: 108px;
}

.hero-container .hero-left p {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  width: 700px;
}

.hero-container .hero-left button {
  width: 190px;
  height: 55px;
  margin-top: 3rem;
  background: #195BDB;
  -webkit-box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.29);
          box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.29);
  border-radius: 51.5px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.hero-container .hero-right {
  z-index: 1;
  margin: 0 4rem;
}

.scroll-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.scroll-indicator .mouse {
  width: 40px;
  height: 80px;
  border: 5px solid #FFA417;
  border-radius: 60px;
  position: relative;
  z-index: 3;
}

.scroll-indicator .mouse::before {
  content: '';
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FFA417;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

.bg {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
}

img.layer {
  top: 0;
  left: 0;
}

img.layer2 {
  bottom: 35rem;
  right: 10rem;
}

img.layer3 {
  left: 10rem;
}

img.layer4 {
  top: 5rem;
  left: 25rem;
}

img.layer5 {
  top: 10rem;
  left: 55rem;
}

img.layer6 {
  bottom: 10rem;
  left: 45rem;
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10rem;
  z-index: 5;
}

#portfolio .portfolio-title {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
}

#portfolio .portfolio-underline {
  margin-top: -1rem;
}

#portfolio .portfolio-description {
  margin: 2rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

#portfolio .portfolio-gallery .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70vw;
}

#portfolio .portfolio-gallery .carousel-container {
  width: 71.8vw;
  margin: 2em auto;
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container {
  position: relative;
  width: 500px;
  margin-right: 0;
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container .carousel-image {
  border-radius: 20px;
  height: 300px;
  width: 500px;
  -webkit-box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container .swiper-slide-active img:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container .project-info {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5em;
  top: 1.5em;
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container .project-info .project-details {
  background: #12429D;
  border-radius: 16.5px;
  width: 116px;
  height: 33px;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  border: none;
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container .project-links {
  position: absolute;
  bottom: 1.5rem;
  right: 1.5em;
}

#portfolio .portfolio-gallery .carousel-container .carousel-image-container .project-links .project-link {
  width: 22px;
  height: 22px;
}
/*# sourceMappingURL=styles.css.map */