*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../img/fondo.svg);
    color: #fff;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 4.1rem 22rem;
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 31px;

        li {
            padding: 1.8rem 1.3rem;

            .active {
                font-weight: 700;
            }
        }

        img {
            border-radius: 100px;
        }
    }
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: center;

    .hero-left{
        width: 800px;
        margin: 1rem 6rem;
        
        ul {
            display: flex;
            list-style: none;

            li {
                padding: 1rem;
            }
        }

        h1 {
            font-size: 72px;
            line-height: 108px;
        }
    
        p {
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
        }
    }

}